@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <div>
            <h1>Hello World</h1>
        </div>
    </body>
</html>
