@{
    Layout = null;
    
}



<html>
    <head>
        <title>

        </title>
        <meta name="viewport" content="width=decive-width" />
    </head>
    <body>
        <div>
            <h1>@ViewBag.SeriesTitle</h1>
            <h2>Issue # @ViewBag.IssueNumber</h2>
            <div>@Html.Raw(ViewBag.Description)</div>

            @if (ViewBag.Artists.Length > 0)
            {
                <h5>Artists:</h5>
                <div>
                    <ul>
                        @foreach (var artist in ViewBag.Artists)
                        {
                             <li> @artist</li>
                        }
                    </ul> 
                
                </div>
            }

        </div>
    </body>
</html>
